<p id="notice"><%= notice %></p>
<ul class="breadcrumb">
  <li>
    <%= link_to "Clubs", clubs_path %> <span class="divider">|</span>
  </li>
</ul>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>League</th>
    <th></th>
    <th></th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= link_to club.name, club %></td>
    <td><%= club.description %></td>
    <td><%= link_to club.url, club.url %></td>
    <td><%= club.league.name %></td>
    <td><%= link_to 'Edit', edit_club_path(club) %></td>
    <td><%= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

