<h1>Listing clubs</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>League</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= club.name %></td>
    <td><%= club.description %></td>
    <td><%= club.url %></td>
    <td><%= club.league.name %></td>
    <td><%= link_to 'Show', club %></td>
    <td><%= link_to 'Edit', edit_club_path(club) %></td>
    <td><%= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

