<p id="notice"><%= notice %></p>

<h1>
  <%= @team.name %>
</h1>
<h3>
  <%= link_to @team.club.name, @team.club %>
</h3>
<p>
  <b>Division:</b>
  <% if @team.division_id? %>
    <%= link_to @team.division.name, @team.division %>
  <% else %>
    No Division Assigned
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<!-- h2>Roster</h2 -->

<%= render '/shared/games' %>
