<div class="row">
  <%= render 'sidebar' %>
  <div class="span6">
    <p id="notice"><%= notice %></p>
    <h1>
      <%= @league.name %>
    </h1>

    <p>
      <%= @league.description %>
    </p>

    <p>
      <b>Clubs</b> 
      <span class="badge badge-info"><%= @league.clubs.count %></span>
      <br/>
      <b>Divisions</b>
      <span class="badge badge-info"><%= @league.divisions.count %></span>
    </p>
    <% if current_user == nil %>
      <!-- Viewing as anonymous -->
    <% else %>
    <% if current_user.admin? %>
      <%= link_to 'Edit League', edit_league_path(@league) %>
    
      <%= form_for [@league, Club.new] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br/>
        <%= f.label :description %>
        <%= f.text_field :description %><br/>
        <%= f.submit %>
      <% end %>

      <%= form_for [@league, Division.new] do |d| %>
        <%= d.label :name %>
        <%= d.text_field :name %><br/>
        <%= d.submit %>
      <% end %>
    <% end %>
    <% end %>

    <h2>Posts</h2>
    <p>Show latest game scores and the latest hot discussion topic on the side... do some
      crazy wild MTV shit, embed the google map of their office like this.</p>
    <p>Put a twitter button on the home page and post all the posts also to the twitter account</p>

    <ul>
      <%= render @posts %>
    </ul>

  </div> <!-- span -->
</div> <!-- row -->
