    <p id="notice"><%= notice %></p>
    <h1>
      <%= @league.name %>
    </h1>

    <p>
      <%= @league.description %>
    </p>

    <p>
      <b>Clubs</b> 
      <span class="badge badge-info"><%= @league.clubs.count %></span>
      <br/>
      <b>Divisions</b>
      <span class="badge badge-info"><%= @league.divisions.count %></span>
    </p>
    <% if current_user == nil %>
      <!-- Viewing as anonymous -->
    <% else %>
      <% if current_user.admin? %>
        <%= link_to 'Edit League', edit_league_path(@league) %> |
        <%= link_to 'New Club', new_club_path %> |
        <%= link_to 'New Division', new_division_path %>
      <% end %>
    <% end %>

    <h3>Latest News</h3>
    <ul>
      <%= render @posts %>
    </ul>

