<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li class="alert alert-error"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls">
    <%= f.text_field :name, :placeholder => "Name", :class => "input-xlarge" %>
  </div>
  <div class="controls">
    <%= f.text_field :email, :placeholder => "Email", :class => "input-xlarge" %>
  </div>
  <div class="controls">
    <%= f.password_field :password, :placeholder => "Password", :class => "input-xlarge" %>
  </div>
  <div class="controls">
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class => "input-xlarge" %>
  </div>
  <div class="controls">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="controls">
    <%= f.submit %>
  </div>
<% end %>
