<p id="notice"><%= notice %></p>

<p>
  <%= gravatar_for @user %>
  <h1><%= @user.name %></h1>
  <% if @user.admin? %>
    <span class="badge badge-success">Admin</span>
  <% end %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
