<ul class="breadcrumb">
  <li>
    <%= link_to "Users", users_path %> <span class="divider">|</span>
  </li>
  <li>
    <%= link_to @user.name, @user %>
  </li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <%= gravatar_for @user, "100" %>
  <h1><%= @user.name %></h1>
  <% if @user.has_role? :admin %>
    <span class="badge badge-success">site admin</span>
  <% end %>
  <% if @user.has_role? :coach %>
    <span class="badge badge-info">coach</span>
  <% end %>
  <% if @user.has_role? :referee %>
    <span class="badge badge-info">referee</span>
  <% end %>
  <% if @user.has_role? :player %>
    <span class="badge badge-inverse">player</span>
  <% end %>
  <% if @user.has_role? :team_admin %>
    <span class="badge badge-success">team admin</span>
  <% end %>
</p>

<% if @user.club != nil %>
  <p>
    <%= image_tag(@user.club.logourl, :width => "50") %>
    <%= link_to @user.club.name, @user.club %>
  </p>
<% end %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
