<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li>
    <%= link_to "Divisions", divisions_path %> <span class="divider">|</span>
  </li>
  <li>
    <%= @division.name %>
  </li>
</ul>

<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>

<% if @division.teams.any? %>
<h2>Standings</h2>
<table class="table table-striped">
<tr><th>Team Name</th><th>Games</th><th>Record</th><th>Points</th></tr>
<%= render @teams %>
</table>
<% end %>

<% if @games.any? %>
  <%= render '/shared/games' %>
<% end %>

<%= link_to "New Game", new_game_path %>
