<p id="notice"><%= notice %></p>

<div class="span4">
  <h2><%= @game.time %></h2>
  <table class="table">
  <tr><td><b>Home:</b> <%= @hometeam.name %></td><td><%= @game.homescore %></td></tr>
  <tr><td><b>Away:</b> <%= @awayteam.name %></td><td><%= @game.awayscore %></td></tr>
  </table>

  <table class="table">
  <% if @game.division_id? %>
    <tr><th>Division</th><td><%= link_to @game.division.name, @game.division %></td></tr>
  <% end %>
  <% if @game.field_id? %>
    <tr><th>Field</th><td> <%= link_to @game.field.name, @game.field %> <%= @game.fieldname %></td></tr>
  <% end %>
  <tr><th>Notes</th><td> <%= @game.notes %></td></tr>
  <tr><th>Referees</th><td> </td></tr>
  </table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
</div>
