<ul class="breadcrumb">
  <li>
    <%= link_to "Fields", fields_path %> <span class="divider">|</span>
  </li>
  <li>
    <%= link_to @field.name, @field %>
  </li>
</ul>

<p id="notice"><%= notice %></p>

<h1><%= @field.name %></h1>

<table class="table">
<tr>
  <th>Address</th>
  <td><%= @field.address %></td>
</tr>
<tr>
  <th>City</th>
  <td><%= @field.city %></td>
</tr>
<tr>
  <th>State:</th>
  <td><%= @field.state %></td>
</tr>
<tr>
  <th>Zip:</th>
  <td><%= @field.zip %></td>
</tr>
</table>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>

<% if @field.games.any? %>
  <%= render '/shared/games' %>
<% end %>

